### Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [2]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [150]:
import pandas as pd
import numpy as np
import re


def answer_two(): 
        #Energey DF
    Energy=pd.read_excel('assets/Energy Indicators.xls',usecols='C:F',skiprows=18 ,nrows=227, header=None, names= ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])
    Energy.replace('...',np.nan,inplace=True)
    Energy['Country']=Energy['Country'].apply(lambda x: re.sub(r'\([^()]*\)|[0-9]', '', x))
    Energy['Energy Supply']=Energy['Energy Supply']*1000000
    Energy.replace(["Republic of Korea","United States of America","United Kingdom of Great Britain and Northern Ireland",
                "China, Hong Kong Special Administrative Region",'Iran '],
               [ "South Korea", "United States","United Kingdom","Hong Kong",'Iran'],
               inplace=True)
    Energy.replace('(^\s+|\s+$)', '', regex=True, inplace=True)

    #GDP DF                    
    years=[str(x) for x in range(2006,2016)]
    GDP=pd.read_csv('assets/world_bank.csv',skiprows=4 ,usecols=['Country Name',years[0],years[1],years[2],years[3],years[4],years[5]
                                                             ,years[6],years[7],years[8],years[9]])
    GDP.replace(["Korea, Rep.","Iran, Islamic Rep.","Hong Kong SAR, China"]
            ,["South Korea","Iran","Hong Kong"],inplace=True)
    GDP.rename(columns={'Country Name' : 'Country'},inplace=True )

    #ScimEn DF
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')

    #merge
    df1 = pd.merge(Energy,GDP,how='outer' ,on='Country')
    df2 = pd.merge(df1,ScimEn,how='outer' ,on='Country') 

    df3 = pd.merge(Energy,GDP ,how='inner',on='Country')
    df4 = pd.merge(df3, ScimEn,how='inner',on='Country')
    
    return df1.index.size-df4.index.size

In [151]:
answer_two()

144

In [147]:
#Energey DF
Energy=pd.read_excel('assets/Energy Indicators.xls',usecols='C:F',skiprows=18 ,nrows=227, header=None, names= ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])
Energy.replace('...',np.nan,inplace=True)
Energy['Country']=Energy['Country'].apply(lambda x: re.sub(r'\([^()]*\)|[0-9]', '', x))
Energy['Energy Supply']=Energy['Energy Supply']*1000000
Energy.replace(["Republic of Korea","United States of America","United Kingdom of Great Britain and Northern Ireland",
                "China, Hong Kong Special Administrative Region",'Iran '],
               [ "South Korea", "United States","United Kingdom","Hong Kong",'Iran'],
               inplace=True)
Energy.replace('(^\s+|\s+$)', '', regex=True, inplace=True)
country_list = ['Australia', 'Bolivia', 'China', 'Hong Kong', 'China, Macao Special Administrative Region', 'Denmark', 'Falkland Islands', 'France', 'Greenland', 'Indonesia', 'Iran', 'Italy', 'Japan', 'Kuwait', 'Micronesia', 'Netherlands', 'Portugal', 'South Korea', 'Saudi Arabia', 'Serbia', 'Sint Maarten', 'Spain', 'Switzerland', 'Ukraine', 'United Kingdom', 'United States', 'Venezuela']

for i in range(len(country_list)):
    if country_list[i] not in Energy.index.values.tolist():
        print(country_list[i])

Australia
Bolivia
China
Hong Kong
China, Macao Special Administrative Region
Denmark
Falkland Islands
France
Greenland
Indonesia
Iran
Italy
Japan
Kuwait
Micronesia
Netherlands
Portugal
South Korea
Saudi Arabia
Serbia
Sint Maarten
Spain
Switzerland
Ukraine
United Kingdom
United States
Venezuela

In [145]:
len(country_list)

27

In [146]:
Energy.iloc[221][0]

'Venezuela'